.container{
    margin: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: 60% auto;
    grid-column-gap: 20px;
    padding-bottom: 10px;
}

.btn{
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 2.5em;
    width: 100%;
    cursor: pointer;
    border-radius: 10px; 
}

@media only screen and (max-width: 600px){
    .container{
        display: block;
    }
}