.pagination{
    .pagination-button{
        &:hover{
            background-color: lighten($primary_1, 25%);
        }
        &.active{
            background-color: lighten($primary_1, 25%);
            box-shadow: none;
        }
        background-color: lighten($primary_1, 10%);
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    height: fit-content;
    display: flex;
    width: 40vw;
    justify-content: center;
    gap: 10px;
}
@media only screen and (max-width: 600px){
    .pagination{
        .pagination-button{
            font-size: 0.8em;
            padding: 5px 5px 5px 5px;
        }
        width: 100vw;
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 0 5px 0 5px;
    }
}